In [2]:
import pandas as pd
from sklearn.metrics import confusion_matrix
import os
from pydataset import data
from sklearn.metrics import accuracy_score, precision_score, recall_score, classification_report

2. Given the following confusion matrix, evaluate (by hand) the model's performance.
|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

In the context of this problem, what is a false positive?
In the context of this problem, what is a false negative?
How would you describe this model?

In [214]:
df = pd.DataFrame({'pred_dog': [46, 13], 'pred_cat': [7, 34]}, index = ['actual_dog', 'actual_cat'])
df

            pred_dog  pred_cat
actual_dog        46         7
actual_cat        13        34

In [215]:
baseline = 'dog'

In [216]:
tp = df.iloc[0, 0]
tp

46

In [217]:
fp = df.iloc[1, 0]
fp

13

In [218]:
fn = df.iloc[0, 1]
fn

7

In [219]:
tn = df.iloc[1, 1]
tn

34

> false positive is: 13

> false negative is: 7

In [220]:
# Accuracy TP + TN / TP + TN + FN + FP
(tp + tn) / (tp + tn + fn + fp)

0.8

3. You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, 
and the data from their predictions can be found here.

Use the predictions dataset and pandas to help answer the following questions:

* An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks 
that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

* Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying 
C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. 
They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package 
when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

positive case = 'defect'

In [24]:
df = pd.read_clipboard()
df.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [112]:
df.actual.value_counts()

actual
No Defect    184
Defect        16
Name: count, dtype: int64

In [33]:
df.model1.value_counts()

model1
No Defect    190
Defect        10
Name: count, dtype: int64

In [34]:
df.model2.value_counts()

model2
No Defect    110
Defect        90
Name: count, dtype: int64

In [38]:
df.model3.value_counts()

model3
No Defect    101
Defect        99
Name: count, dtype: int64

In [141]:
actual_model3 = pd.crosstab(df.actual, df.model3)
actual_model3

model3     Defect  No Defect
actual
Defect         13          3
No Defect      86         98

In [145]:
TP = actual_model3.iloc[0,0]
TP

13

In [148]:
TN = actual_model3.iloc[1,0]
TN

86

In [150]:
TN = actual_model3.iloc[0,1]
TN

3

In [152]:
FP = actual_model3.iloc[1,1]
FP

98

An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks 
that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

> Answer: I would use model3 since it has more defects

> Answer: I am using Precision to identify the percentage of ducks that are Defective

In [119]:
(df.actual == 'Defect').mean()

0.08

> Baseline of defect is 8%

In [166]:
model1_defects = df[df.model1 == 'Defect']
model1_defects

        actual  model1     model2     model3
3    No Defect  Defect     Defect     Defect
30      Defect  Defect  No Defect     Defect
62   No Defect  Defect  No Defect  No Defect
65      Defect  Defect     Defect     Defect
70      Defect  Defect     Defect     Defect
135     Defect  Defect  No Defect     Defect
147     Defect  Defect  No Defect     Defect
163     Defect  Defect     Defect     Defect
194     Defect  Defect  No Defect     Defect
196     Defect  Defect  No Defect  No Defect

In [169]:
(model1_defects.actual == model3_defects.model1).mean()

0.8

In [173]:
model2_defects = df[df.model2 == 'Defect']
model2_defects

        actual     model1  model2     model3
0    No Defect  No Defect  Defect  No Defect
1    No Defect  No Defect  Defect     Defect
2    No Defect  No Defect  Defect  No Defect
3    No Defect     Defect  Defect     Defect
4    No Defect  No Defect  Defect  No Defect
..         ...        ...     ...        ...
183  No Defect  No Defect  Defect  No Defect
185  No Defect  No Defect  Defect  No Defect
193  No Defect  No Defect  Defect     Defect
195  No Defect  No Defect  Defect     Defect
198  No Defect  No Defect  Defect     Defect

[90 rows x 4 columns]

In [176]:
(model2_defects.actual == model2_defects.model2).mean()

0.1

In [134]:
model3_defects = df[df.model3 == 'Defect']
model3_defects

        actual     model1     model2  model3
1    No Defect  No Defect     Defect  Defect
3    No Defect     Defect     Defect  Defect
5    No Defect  No Defect  No Defect  Defect
9    No Defect  No Defect  No Defect  Defect
13      Defect  No Defect     Defect  Defect
..         ...        ...        ...     ...
193  No Defect  No Defect     Defect  Defect
194     Defect     Defect  No Defect  Defect
195  No Defect  No Defect     Defect  Defect
198  No Defect  No Defect     Defect  Defect
199  No Defect  No Defect  No Defect  Defect

[99 rows x 4 columns]

# Summarize:

This is how much are defective from model 1: 8% is on par with the (baseline)

This is how much are defective from model 2 from the baseline: 10% up 2% from the actual (baseline)

This is how much are defective from model 3 from the baseline: 13% up 5% from the actual (baseline)

In [137]:
(model3_defects.actual == model3_defects.model3).mean()

0.13131313131313133

* Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying 
C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. 
They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package 
when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

### Using Recall to find defective duck

In [156]:
actual_defect = df[df.actual == 'Defect']
actual_defect

     actual     model1     model2     model3
13   Defect  No Defect     Defect     Defect
30   Defect     Defect  No Defect     Defect
65   Defect     Defect     Defect     Defect
70   Defect     Defect     Defect     Defect
74   Defect  No Defect  No Defect     Defect
87   Defect  No Defect     Defect     Defect
118  Defect  No Defect     Defect  No Defect
135  Defect     Defect  No Defect     Defect
140  Defect  No Defect     Defect     Defect
147  Defect     Defect  No Defect     Defect
163  Defect     Defect     Defect     Defect
171  Defect  No Defect     Defect     Defect
176  Defect  No Defect     Defect     Defect
186  Defect  No Defect  No Defect  No Defect
194  Defect     Defect  No Defect     Defect
196  Defect     Defect  No Defect  No Defect

In [162]:
(actual_defect.actual == actual_defect.model1).mean()

0.5

In [178]:
(actual_defect.actual == actual_defect.model2).mean()

0.5625

In [179]:
(actual_defect.actual == actual_defect.model3).mean()

0.8125

### Summarize:
Model1 has the lowest defects of 50% compare to the actual 

Model2 has the second highest defects of 56% compare to the actual 

Model3 has the highest defects of 81% compare to the actual

You are working as a data scientist for Gives You Paws ™, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

Several models have already been developed with the data, and you can find their results here.

Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?
Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?
Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?

In [36]:
gives_you_paws = pd.read_csv('gives_you_paws.csv')
gives_you_paws

     actual model1 model2 model3 model4
0       cat    cat    dog    cat    dog
1       dog    dog    cat    cat    dog
2       dog    cat    cat    cat    dog
3       dog    dog    dog    cat    dog
4       cat    cat    cat    dog    dog
...     ...    ...    ...    ...    ...
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4997    dog    cat    cat    dog    dog
4998    cat    cat    cat    cat    dog
4999    dog    dog    dog    dog    dog

[5000 rows x 5 columns]

The baseline with using actual == 'dog' is 65%

In [197]:
(gives_you_paws.actual == 'dog').mean()

0.6508

In [223]:
(gives_you_paws.actual == gives_you_paws.model1).mean()

0.8074

In [224]:
(gives_you_paws.actual == gives_you_paws.model2).mean()

0.6304

In [225]:
(gives_you_paws.actual == gives_you_paws.model3).mean()

0.5096

In [226]:
(gives_you_paws.actual == gives_you_paws.model4).mean()

0.7426

Are any of the models better than the baseline?

Model 1 and 4 clearly beats the baseline

Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?
> using the Precision => minimize false positives, because we don't want cat pictures

positive = 'dog'

In [7]:
gives_you_paws.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [13]:
pos_predictions = gives_you_paws[gives_you_paws['model1'] == 'dog']
pos_predictions.head()

  actual model1 model2 model3 model4
1    dog    dog    cat    cat    dog
3    dog    dog    dog    cat    dog
5    dog    dog    dog    dog    dog
7    cat    dog    cat    cat    dog
8    dog    dog    cat    dog    dog

In [16]:
(pos_predictions['actual'] == pos_predictions['model1']).mean()

0.8900238338440586

In [31]:
for col in gives_you_paws.columns [1:]:
    # print(col)
    pos_predictions = gives_you_paws[gives_you_paws[col] == 'dog']
    precision = (pos_predictions['actual'] == pos_predictions[col]).mean()
    
    print(f'for {col}, the mean is {round(precision, 2)}')

for model1, the mean is 0.89
for model2, the mean is 0.89
for model3, the mean is 0.66
for model4, the mean is 0.73

based on the mean of each column: model 1 & 1 are the best for predicting pictures

### Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?

positive = 'cat'

recall = minimize our false negatives

precision = minimize our false positives

false negatives = predicting a dog, when its actually a cat

false positives = predicting a cat, when its actually a dog

> Choosing precision to mimize false positives, since we don't want dog pictures

In [54]:
round((gives_you_paws['actual'] == 'cat').mean(), 2)

0.35

The baseline with using actual == 'cat' is 35%

In [47]:
pos_predictions = gives_you_paws[gives_you_paws['model1'] == 'cat']
pos_predictions.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
2    dog    cat    cat    cat    dog
4    cat    cat    cat    dog    dog
6    cat    cat    cat    cat    dog
9    dog    cat    dog    cat    dog

In [59]:
precision = (pos_predictions['actual'] == pos_predictions['model1']).mean()
precision

0.8313253012048193

In [63]:
for col in gives_you_paws.columns [1:]:
    pos_predictions = gives_you_paws[gives_you_paws[col] == 'cat']
    precision = (pos_predictions['actual'] == pos_predictions[col]).mean()
    
    print(f'for {col}, the mean is: {round(precision, 2)}')

for model1, the mean is: 0.69
for model2, the mean is: 0.48
for model3, the mean is: 0.36
for model4, the mean is: 0.81

In using precision, model 1 would be the best for predicting cat pictures

5. Follow the links below to read the documentation about each function, 
then apply those functions to the data from the previous problem.

sklearn.metrics.accuracy_score

sklearn.metrics.precision_score

sklearn.metrics.recall_score

sklearn.metrics.classification_report

In [64]:
gives_you_paws.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [65]:
# needs y_true and y_predictions 
accuracy_score(gives_you_paws.actual, gives_you_paws.model1)

0.8074

In [67]:
# needs y_true and y_predictions, pos_label='dog or cat'
precision_score(gives_you_paws['actual'], gives_you_paws['model1'], pos_label = 'dog')

0.8900238338440586

In [68]:
precision_score(gives_you_paws['actual'], gives_you_paws['model1'], pos_label = 'cat')

0.6897721764420747

In [71]:
# needs y_true and y_predictions, pos_label='dog or cat'
recall_score(gives_you_paws['actual'], gives_you_paws['model1'], pos_label = 'dog')

0.803318992009834

In [72]:
recall_score(gives_you_paws['actual'], gives_you_paws['model1'], pos_label = 'cat')

0.8150057273768614

In [74]:
# needs y_true and y_predictions 
print(classification_report(gives_you_paws['actual'], gives_you_paws['model1']))

              precision    recall  f1-score   support

         cat       0.69      0.82      0.75      1746
         dog       0.89      0.80      0.84      3254

    accuracy                           0.81      5000
   macro avg       0.79      0.81      0.80      5000
weighted avg       0.82      0.81      0.81      5000